<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User profile</title>
</head>
<body>
  <ul class="user-list">
    <p>Account Info</p>
    <li class="user-attribute">
      name: {{name}}
    </li>
    <li class="user-attribute">
      email: {{email}}
    </li>
  </ul>
  <ul class="user-list">
    <p>Pokemons Created</p>
    {{#each pokemon}}
    <li class="user-attribute">
      {{this.pokemon_name}}
    </li>
    {{/each}}
  </ul>
</body>
</html>
